---
layout: default
slug: contacte
title: contacte
---

<main class="ox-masthead" id="content" role="main">
  <div class="container">
    <p class="text-center"><img class="molecula" src="{{ site.base_url }}/assets/img/oxygen-ico-blau-96.png" data-src961="{{ site.base_url }}assets/img/oxygen-ico-blau-51.png" data-src1025="{{ site.base_url }}/assets/img/oxygen-ico-blau-70.png" /></p>
    <h1 class="text-center">Contacte</h1>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">t'ajudem? ens encantaria treballar amb tu!</h2>
    </div>
  </div>

  <div class="container">
    <div class="body-content">

      <script type="text/javascript" src="http://form.jotform.co/jsform/32316397185863"></script>
      
      <hr/>

      <section id="thoughts">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <a href="{{ site.base_url }}blog/"><h2><i class="fa fa-pencil-square-o"></i> Oxygen blog</h2></a>           
            {% for post in site.categories.general limit:1 %}
            <h4><time datetime="{{ post.date | date: "%Y-%m-%d %H:%M%z" }}">{{ post.date | localize: ":simple" }}</time></h4>
            <a href="{{site.baseurl}}{{post.url}}"><h3>{{ post.title }}</h3></a>              
            {% endfor %}            
          </div>
          <div class="col-sm-6 col-md-6">
            <h2><i class="fa fa-quote-right"></i> Oxygen cita</h2>
            {% for post in site.categories.cita limit:1 %}
              {{ post.content }}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<script src="http://cdn.jotfor.ms/static/jotform.js?3.1.1376" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){
      $('input_3').hint('ex.: elmeucorreu@elmeudomini.om');
      JotForm.initCaptcha('input_5');
   });
</script>