{% if page.class != 'blog-index' or page.class != 'blog-article' %}<script src="{{ site.base_url }}/assets/js/jquery.js"></script>{% endif %}
{% if page.slug == 'home' %}
<script src="{{ site.base_url }}/assets/js/jquery.sequence-min.js"></script>
<script src="{{ site.base_url }}/assets/js/sequencejs-options.sliding-horizontal-parallax.js"></script>
{% endif %}
<script src="{{ site.base_url }}/bootstrap/js/bootstrap.min.js"></script>
<script src="http://airve.github.io/js/response/response.min.js"></script>
<script>    
Response.create({mode : 'src', prefix : 'src'});
</script>