<header role="banner">
	<div class="navbar navbar-fixed-top navbar-default cl-effect-5">
      <div class="container">
      <div class="address">
      <p class="text-center">
      {% for place in site.data.oxygenplaces %}
      <small><strong>// <a href="{{ place.maps }}" title="Com arribar a {{ place.name }}" rel="external"><i class="fa fa-map-marker"></i></a> </strong> {{ place.address }} - <strong><i class="fa fa-phone"></i> </strong> <a href="tel:{{ place.phone }}">{{ place.phone }}</a> - <a href="{{ place.url }}" title="{{ place.name }}" rel="external"><i class="fa fa-external-link"></i></a> | <a href="https://twitter.com/{{ place.twitter }}" title="@{{ place.twitter }}" rel="external"><i class="fa fa-twitter"></i></a> | <a href="{{ place.facebook }}" title="{{ place.name }} en Facebook" rel="external"><i class="fa fa-facebook"></i></a> | <a href="mailto:{{ place.email }}" title="Correo-e {{ place.email }}" rel="external"><i class="fa fa-envelope"></i></a></small>
      {% endfor %}
      </p>
      </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.base_url }}/"><img src="{{ site.base_url }}/assets/img/oxygen-logo.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-nav-right">
            <li{% if page.slug == "home" %} class="active"{% endif %}>
              <a href="{{ site.base_url }}/"><span data-hover="Inici">Inici</span></a>
           </li>
           <li{% if page.slug == "quant-a" %} class="active"{% endif %}>
				      <a href="{{ site.base_url }}/quant-a"><span data-hover="Quant a">Quant a</span></a>
		       </li>
			     <li{% if page.slug == "blog" %} class="active"{% endif %}>
				    <a href="{{ site.base_url }}/blog"><span data-hover="Blog">Blog</span></a>
			     </li>
           <li{% if page.slug == "contacte" %} class="active"{% endif %}>
              <a href="{{ site.base_url }}/contacte"><span data-hover="Contacte">Contacte</span></a>
           </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </header>