---
layout: default
class: 'blog-article'
slug: blog
---

{% assign author = site.authors[page.author] %}

{% assign readtime = page.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}

<main class="ox-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content blog">

      <div class="page-header">
        <h1><i class="fa fa-pencil-square-o"></i> Oxygen blog</h1>
      </div>        

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Inici</a></li>
        <li><a href="{{ site.base_url }}/blog">Blog</a></li>
        <li class="active">{{page.title}}</li>
      </ul>

      <div class="row">
        <div class="col-sm-12 col-lg-12 blog-list">
          <div itemscope itemtype="http://schema.org/Article">
            <article class="article" role="main">
              <h1 class="card-title text-center" itemprop="name">{{page.title}}</h1>
              <hr />
              {% include social.html %}
              <hr />
              <h4><span itemprop="datePublished" content="{{ page.date }}"><time datetime="{{ page.date | date: "%Y-%m-%d %H:%M%z" }}">{{ page.date }}</time></span> per <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.display_name }}</span></span> | <i class="fa fa-clock-o"></i>&nbsp;{% if readtime > 1 and readtime < 1.5 %}Temps estimat de lectura, 1 minut{% endif %} {% if readtime > 1.5 %}Temps estimat de lectura, <span class="ert">{{ readtime }}</span> minuts{% endif %} {% if readtime < 1 %}Temps estimat de lectura, menys d'1 minut{% endif %}</h4>
              {% if page.featured-img-url %}
              <p class="hidden-md hidden-lg text-center"><img class="img-circle" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}" {% if page.featured-img-alt != %}alt="{{page.featured-img-alt}}" title="{{page.featured-img-alt}}"{% endif %}></p>
              <p class="pull-right hidden-xs hidden-sm"><img class="img-circle" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}" {% if page.featured-img-alt != %}alt="{{page.featured-img-alt}}" title="{{page.featured-img-alt}}"{% endif %}></p>
              {% endif %}
              {% if page.type == 'cita' %}
              <h2><i class="fa fa-quote-right"></i> Oxygen cita</h2>
              {% endif %}
              <span itemprop="articleBody">{{ content }}</span>
            </article>
          </div>
            <aside role="complementary">
              <h1>També et pot interessar</h1>
              <ul>
                {% for post in site.related_posts limit:3 %}
                <li><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </aside>

        </div>

      </div>

    </div>

  </div>

</main>