---
layout: default
class: blog-article
slug: blog
---

{% assign author = site.authors[page.author] %}

<main class="ox-masthead" id="content" role="main">

  <div class="container">

    <div class="body-content blog">

      <div class="page-header">
        <h1><i class="fa fa-pencil-square-o"></i> Oxygen blog</h1>
      </div>        

      <ul class="breadcrumb">
        <li><a href="{{ site.base_url }}/">Inici</a></li>
        <li><a href="{{ site.base_url }}/blog">Blog</a></li>
        <li class="active">{{page.title}}</li>
      </ul>

      <div class="row">
        <div class="col-sm-12 col-lg-12 blog-list">
          <article class="article" role="main">
            <hr />
            {% include social.html %}
            <hr />
            <h4><time datetime="{{ page.date | date: "%Y-%m-%d %H:%M%z" }}">{{ page.date | localize: ":simple" }}</time> per {{ author.display_name }}</h4>
            {% if page.featured-img-url %}
            <p class="hidden-md hidden-lg text-center"><img class="img-circle" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}" {% if page.featured-img-alt != %}alt="{{page.featured-img-alt}}" title="{{page.featured-img-alt}}"{% endif %}></p>
            <p class="pull-right hidden-xs hidden-sm"><img class="img-circle" src="{{site.baseurl}}/assets/img/{{page.featured-img-url}}" {% if page.featured-img-alt != %}alt="{{page.featured-img-alt}}" title="{{page.featured-img-alt}}"{% endif %}></p>
            {% endif %}
            {% if page.type == 'cita' %}
            <h2><i class="fa fa-quote-right"></i> Oxygen cita</h2>
            {% endif %}
            {{ content }}
          </article>
            <aside role="complementary">
              <h1>També et pot interessar</h1>
              <ul>
                {% for post in site.related_posts limit:3 %}
                <li><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </aside>

        </div>

      </div>

    </div>

  </div>

</main>